/*=======reset css========*/
*,
*::before,
*::after{
    /*所有的标签，和伪元素都选中*/
    margin: 0;
    padding: 0;
    /*移动端常用布局是非固定像素*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*点击高亮效果的清除*/
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
}
ul,ol{
    list-style: none;
}
/*lvha*/
a,
a:hover,
a:link,
a:active,
a:visited
{
    text-decoration: none;
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    /*不允许改变尺寸*/
    resize: none;
    /*元素的外观  none没有任何样式*/
    -webkit-appearance: none;
}
/*=======common css========*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearFix::before,
.clearFix::after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}
.mt_150 {
   margin-top: 150px;
}
.mt_20 {
    margin-top: 20px;
}
.red {
    color: #A94442;
}

/*******/
.body_bg {
    background: #222D32;
}
.panel .panel-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

/*lt_aside*/
.lt_aside {
    width: 180px;
    height: 100%;
    background: #222D32;
    /*background: #aaa;*/
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    transition: all 1s;
}
.lt_aside.hidemenu {
    left: -180px;
}
.lt_aside .brand {
    width: 100%;
    height: 50px;
    background-color: #367FA9;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}
.lt_aside .brand a {
    color: #fff;
}

.lt_aside .user {
    height: 180px;
    width: 100%;
    padding-top: 30px;
}
.lt_aside .user img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
}
.lt_aside .user p {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
}
.lt_aside .nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
    padding-left: 45px;
    border-left:3px solid transparent;
}
.lt_aside .nav i {
    margin-right: 5px;
}
.lt_aside .nav .child a{
    padding-left: 65px;
}
.lt_aside .nav a.current {
    background-color: #1D1F21;
    border-left: 3px solid #006699;
}

/*右侧部分*/

.lt_main {
    padding-left:180px;
    height: 1000px;
    padding-top: 50px;
    transition: all 1s;
}
.lt_main.hidemenu{
    padding-left: 0;
}
.lt_main .topbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #3C8DBC;
    padding-left: 180px;
    transition: all 1s;
}
.lt_main .topbar.hidemenu {
    padding-left: 0px;
}
.lt_main .topbar a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.lt_main .breadcrumb li:first-of-type a {
    color: #337ab7;;
}